*{
    font-family: Roboto;
    padding: 0;
    margin: 0;
    
}

header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 500px;
    padding-top: 10px;
  
}
.top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    padding: 20px;
}
.top-row-margin {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
}
.top-row-image {
    padding: 120px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: gray;
}

.columns {
    gap: 10px;
    max-width: 350px;
    
}
.header-logo {
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 200px;
}
.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    }
.items {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.button-header {
    background-color: #3882f6;
    color: white;
    padding: 9px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 10px;
}